@import url('./normalize.css');
.root {
  box-sizing: border-box;

  margin: 0;
  padding: 0 1rem;
  font: normal 1rem/1 Arial, sans-serif;

  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 37.5rem;
  max-height: 31.25rem;
  width: 100%;
  height: 100%;
  border: 0.6rem solid #fff;
  background-color: #fff;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'block';
  overflow: hidden;
}

.slider__input {
  display: none;
}

.slider__nav {
  grid-area: block;
  display: flex;
  justify-content: end;
  align-content: center;
  align-self: end;
  z-index: 3;
}

.slider__nav-item {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.slider__nav-button {
  cursor: pointer;

  width: 100%;
  height: 100%;

  border-radius: 0.1rem;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.slider__nav-button-marker {
  display: inline-block;

  width: 40%;
  height: 40%;
  border: 0.01rem solid slategray;
  background-color: lightgray;
  transition: 0.5s;
}

.slider__nav-button-marker:hover {
  transform: scale(1.1);
}

.slider__nav-button-marker:active {
  transform: scale(0.9);
}

.slides {
  display: flex;
  grid-area: block;

  width: 400%;
  height: 100%;
}

.slide {
  zoom: 1;
  width: 25%;
  height: auto;
  transition: 1s;
}

.slide__figure {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr max-content;
}

.slide__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 1s;
}

.slide__caption {
  width: 100%;
  background-color: rgb(256, 256, 256);
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 2;
}

#slide-1:checked ~ .slides > .slide_1 {
  margin-left: 0;
}

#slide-2:checked ~ .slides > .slide_1 {
  margin-left: -25%;
}

#slide-3:checked ~ .slides > .slide_1 {
  margin-left: -50%;
}

#slide-4:checked ~ .slides > .slide_1 {
  margin-left: -75%;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#slide-1:checked ~ .slides > .slide > .slide__figure > .slide__caption_1 {
  animation: textAnimation 1.5s;
}

#slide-2:checked ~ .slides > .slide > .slide__figure > .slide__caption_2 {
  animation: textAnimation 1.5s;
}

#slide-3:checked ~ .slides > .slide > .slide__figure > .slide__caption_3 {
  animation: textAnimation 1.5s;
}

#slide-4:checked ~ .slides > .slide > .slide__figure > .slide__caption_4 {
  animation: textAnimation 1.5s;
}

#slide-1:checked
  ~ .slider__nav
  > .slider__nav-item
  > .slider__nav-button
  > .slider__nav-button-marker_1 {
  transform: scale(1.1);
  background-color: gray;
}

#slide-2:checked
  ~ .slider__nav
  > .slider__nav-item
  > .slider__nav-button
  > .slider__nav-button-marker_2 {
  transform: scale(1.1);
  background-color: gray;
}
#slide-3:checked
  ~ .slider__nav
  > .slider__nav-item
  > .slider__nav-button
  > .slider__nav-button-marker_3 {
  transform: scale(1.1);
  background-color: gray;
}
#slide-4:checked
  ~ .slider__nav
  > .slider__nav-item
  > .slider__nav-button
  > .slider__nav-button-marker_4 {
  transform: scale(1.1);
  background-color: gray;
}
